<table class="table">
  <thead>
    <tr>
      <th><title="Id">Id</th>
      <th><title="Name">Name</th>
      <th><title="Description">Description</th>
      <th><title="Price">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{{product.id}}}</th>
      <td><strong>{{{product.name}}}</strong></td>
      <td>{{{product.description}}}</td>
    <td>{{{product.price}}}</td>
    </tr>    
  </tbody>
</table>